# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

.idea/.idea.SpendingTracker/.idea/contentModel.xml

.idea/.idea.SpendingTracker/.idea/indexLayout.xml

.idea/.idea.SpendingTracker/.idea/modules.xml

.idea/.idea.SpendingTracker/.idea/vcs.xml

.idea/.idea.SpendingTracker/.idea/workspace.xml

.idea/.idea.SpendingTracker/riderModule.iml

.vs/SpendingTracker/xs/UserPrefs.xml

.vs/SpendingTracker/xs/UserPrefs.xml

.vs/SpendingTracker/xs/UserPrefs.xml
